/* #Grids
--------------------------------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-section-inner);
}

@media screen and (min-width: 1200px) {
    .grid {
        &.grid-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.grid-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.grid-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

/* Posts */
.grid.posts {
    column-gap: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .grid .post {
        flex-direction: column;
    }
}
