/* #Single
--------------------------------------------------------------- */

.single-post.publications .hero .title {
    font-style: italic;
}

/* Tags */
.single-post .tags-list {
    font-weight: 400;
    font-family: var(--bold);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.single-post .tags-list .tag {
    padding: var(--spacing-xs) var(--spacing-md);
    display: block;
    color: var(--white);
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: var(--border-radius);

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}
