/* #Contact Template
--------------------------------------------------------------- */
/* Form */
.page-template-contact .contact-form {
    background-color: var(--tertiary-light);
}

.page-template-contact .wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--content-spacing);
    justify-content: center;
}
