/* #Gallery Block
--------------------------------------------------------------- */
.gallery-block {
    overflow: clip;
}

.gallery-block .galleries-wrapper .gallery {
    width: calc(100% - 1rem);
    margin-inline: auto;
    rotate: var(--tilt-medium);
    transform: none;
}
